body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  grid-template-columns: 18vw auto 5vw;
  grid-template-rows:    auto 3.5em;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
    border-style: none none solid none;
    border-width: 10px;
    border-color: #b5bdc8;
    padding-bottom: 0.125em;
}

h3 {
    border-style: none none solid none;
    border-width: 2px;
    border-color: rgb(250, 190, 0);
    padding-bottom: 0.125em;
}

a {
    color: black;
}

a:visited {
    color: gray;
}

#navigationColumn {
    grid-column-start: 1;
    grid-column-end:   2;
    grid-row-start:    1;
    grid-row-end:      3;  
    padding-top: 1em;
    padding-left: 1em;
    margin-right: 1em;
    font-family: 'Share Tech Mono', monospace;
    background-color: black;
    color: rgb(0, 255, 0);
}

#navigationColumn a {
    text-decoration: none;
    text-transform: lowercase;
}

#navigationColumn a:hover {
    text-decoration: underline;
}

#navigationColumn a.active:hover {
    text-decoration: none;
}

#navigationColumn a {
  color: rgb(0, 255, 0);
}

#navigationColumn a:visited {
  color: rgb(0, 255, 0);
}

#navigationColumn a.active {
    color: rgb(250, 190, 0);
    font-weight: normal;
}

#navigation a.active:after {
    content: " >>>";
}

#navTitle {
    text-align: center;
    font-weight: normal;
    padding-bottom: 1em;
}

#navProjectVersion {
    font-size: smaller;
}

#navHomeLink a {
    font-size: 150%;
    color: white;
}

#navHomeLink a:visited {
    color: white;
}

#rightColumn {
    grid-column-start: 3;
    grid-column-end:   4;
    grid-row-start:    1;
    grid-row-end:      3;
    justify-self:      stretch;
    align-self:        stretch;
    background-color: black;
}

#page {
    grid-column-start: 2;
    grid-column-end:   3;
    grid-row-start:    1;
    grid-row-end:      2;
    background-color: white;
    overflow: scroll;
}

#pageContent {
}

div#pageContent > p, div#pageContent > pre {
    margin-left: 0.5em;
    margin-right: 2em;
    overflow: scroll;
}

#pageFooter {
    grid-column-start: 2;
    grid-column-end:   3;
    grid-row-start:    2;
    grid-row-end:      3;
    border-top: 2px solid black;
    border-left: 1px solid rgb(250, 190, 0);
    border-right: 1px solid rgb(250, 190, 0);
    padding-left: 0.25em;
    margin-top: 0.5em;
    margin-right: 0.25em;
    background: #b5bdc8;
    font-size: smaller;
}

#pageFooter a {
    color: black;
    font-weight: bold;
}

#pageFooter a:visited {
    color: black;
}

pre {
  background-color: #DDDDFF;
  padding: 0.5em;  
}

code {
  /* background-color: rgba(250, 190, 0, 0.3); */
  background-color: #DDDDFF;    
  font-family: 'Share Tech Mono', monospace;
  font-size: smaller;
  padding-left: 3px;
  padding-right: 3px;
}

pre code {
  background-color: #DDDDFF;    
}

h1 {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0.75em;
  margin-bottom: 0;
  padding: 0;
}

ul li {
  margin-top: 0.75em;  
  margin-bottom: 0;
}

.toc ul li, #navigation ul li {
  margin-top: 0;  
  margin-bottom: 0;
}

#projectVersion {
}

#navigation ul {
    margin-top: 0;
    padding-left: 10%;
}

#navigation > ul > li {
    list-style-type: none;
}

#navigation > ul > li {
    font-size: smaller;
}

#navigation > ul > li > ul {
    padding-left: 0.75em;
}

#navigation ul > li > ul > li {
    list-style-type: none;
}

#navigation ul > li > ul > li:before {
    font-family: 'Source Sans Pro', sans-serif;
    content: "\21B3\2009"
}

.active {
  font-weight: bold;
}

div.callout {
    font-size: smaller;
    margin-left: 4em;
}

div.callout-title {
    display: none;
}

div.callout.warning {
    margin-top: 1em;
    border-left: 10px solid rgba(255, 0, 0, 0.4);
    border-right: 2px solid rgba(255, 0, 0, 0.4);
    background-color: rgba(255, 0, 0, 0.1);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.125em;
    width: calc(100% - 20vw - 5vw - 5vw);
}

div.callout.warning p {
    padding-left: 50pt;
    padding-right: 50pt;
    text-align: justify;
}

div.callout.warning:before {
    content: "\26A0\FE0F";
    font-size: 36pt;
    float: left;
    position: relative;
    top: 20pt;
}

