<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>sbt-ethereum.log</file>
    <encoder>
      <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.mchange.sc.v1.consuela.ethereum.jsonrpc" level="TRACE" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <logger name="com.mchange.sc.v2.jsonrpc" level="TRACE" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <logger name="com.mchange.sc.v1.sbtethereum" level="TRACE" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <logger name="com.mchange.v2.c3p0" level="INFO" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <logger name="com.mchange.v2.resourcepool" level="INFO" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <root level="INFO">          
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>  
  
</configuration>

